@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 18px;
}

body {
  font-family: var(--font-vollkorn);
}

em {
  font-family: var(--font-vollkorn-italic);
}

.ProseMirror {
  @apply outline-none;
}

code {
  @apply text-sm;
}
